useDynLib(StereoMorph)

import(grDevices)
import(graphics)
import(stats)
import(utils)

import(Rcpp)
import(jpeg)
import(tiff)
import(png)
import(bezier)
import(grid)
import(rjson)
import(shiny)
import(svgViewR)

S3method(summary, alignLandmarksToMidline)
S3method(summary, dltCalibrateCameras)
S3method(summary, dltCoefficients)
S3method(summary, dltMatchCurvePoints)
S3method(summary, dltReconstruct)
S3method(summary, dltTestCalibration)
S3method(summary, measureCheckerboardSize)
S3method(summary, reflectMissingLandmarks)
S3method(summary, unifyLandmarks)

S3method(print, calibrateCameras)
S3method(print, shapes)
S3method(print, summary.alignLandmarksToMidline)
S3method(print, summary.dltCalibrateCameras)
S3method(print, summary.dltCoefficients)
S3method(print, summary.dltMatchCurvePoints)
S3method(print, summary.dltReconstruct)
S3method(print, summary.dltTestCalibration)
S3method(print, summary.measureCheckerboardSize)
S3method(print, summary.reflectMissingLandmarks)
S3method(print, summary.unifyLandmarks)

exportPattern("^[[:alpha:]]+")
