#text_input, #text_output{
	visibility:hidden;
}

.body_dp{
	font-family:Myriad web, Arial, sans-serif;
	font-size:9pt;
	color:black;
	text-align:left;
	background-color:#FFF3CE;
	overflow:hidden;
}

.submit_link{
	cursor:default;
}

.vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform:rotate(270deg);
    transform: rotate(270deg);
    white-space:nowrap;
    display:block;
    bottom:0;
}

div.curve_add_point{
	color:white;
	background-color:none;
	text-align:center;
	height:14px;
	float:right;
	width:10px;
}

div.curve_container{
	background-color:none;
	border-top:1px solid white;
	margin:0px 0px 0px 0px;
	padding:0 0 0 0px;
	width:295px;
	float:right;
	clear:both;
}

div.curve_point_row, div.curve_point_row_select{
	height:15px;
	width:290px;
	margin:-15px 12px 0 -10px;
}

div.curve_point_row_select{
	font-weight:bold;
	height:15px;
}

div.curve_ends, div.curve_ends_select{
	cursor:default;
	margin:5px 5px 5px 10px;
	background-color:none;
	width:290px;
	float:right;
	clear:both;
}

div.curve_ends_select{
	font-weight:bold;
}

div.curve_block{
	cursor:default;
	background-color:none;
	float:right;
	clear:both;
	width:90px;
}

div.digitize_options_container{
	margin:0px 0 0 3px;
}

div.divider{
	border-bottom:1px dotted;
	margin:0px 5px 0px 5px;
}

div.help{
	float:right;
	margin:6px 13px 2px 0px;
	color:blue;
}

a.help{
	text-decoration: none;
	color:blue;
}

div.image_settings_div{
	padding:10px 5px 5px 10px;
	background-color:none;
	font-size:10px;
	line-height:13px;
}

div.scaling_div{
	padding:5px 5px 5px 5px;
	background-color:none;
}

div.image_settings_header{
	height:18px;
	background-color:orange;
}

div.semilandmark_point_col, div.start_end_point_col, div.semilandmark_point_col_select{
	background-color:white;	
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	float:left;
	padding:0px;
	text-align:center;
	width:40px;
	height:15px;
}

div.semilandmark_point_col_select{
	font-weight:bold;
}

div.start_end_point_col{
	float:right;
}

div.semilandmark_point_tools{
	float:right;
	padding:1px;
	text-align:center;
	width:30px;
}

div.semilandmark_point_row, div.semilandmark_point_row_select{
	height:15px;
	width:92px;
	margin:0px 3px 0 0;
	float:right;
	clear:both;
}

div.semilandmark_point_row_select{
	font-weight:bold;
}

div.semilandmark_table_col1_header{
	color:white;
	float:left;
	margin:1px;
	padding:1px 1px 1px 3px;
	text-align:center;
	width:195px;
}

div.digitize_photograph_container{
	float:left;
	margin-top:10px;
	margin-left:10px;
}

div.landmark_control_panel_container{
	width:330px;
	background-color:;
	margin-top:5px;
	clear:right;
	float:right;
}

div.landmark_control_panel_view_entries{
	height:420px;
	width:313px;
	clear: both;
	float:left;
	border:2px solid orange;
	background-color:#ffdd90;
	padding:0px;
}

div.landmark_table_container, div.curve_table_container{
	background-color:#ffdd90;	
	color:black;
	float:left;
	width:310px;
	height:402px;
	margin-left:-1px;
	margin-top:-3px;
	border-left:1px solid orange;
	border-bottom:1px solid orange;
	overflow-y:scroll;
	overflow-x:hidden;
}

div.ruler_table{
	background-color:#ffdd90;	
	margin-top:5px;
	margin-left:6px;
	color:black;
}

div.ruler_table_container{
	border:1px solid orange;
	float:left;
	width:293px;
	height:100px;
	margin-top:-3px;
	margin-bottom:10px;
	overflow-y:scroll;
	overflow-x:hidden;
}

div.scaling_table_header_row{
	background-color:orange;
	height:18px;
	width:293px;
	margin:0px 0 0 0;
}

div.scaling_table_header_col1{
	color:white;
	float:left;
	margin:1px;
	padding:1px 1px 1px 3px;
	text-align:center;
	width:185px;
}

div.scaling_table_header_col2{
	color:white;
	float:left;
	margin:1px;
	padding:1px;
	text-align:center;
	width:40px;
}

div.scaling_table_row{
	height:17px;
	width:314px;
	margin:0px 0 0 0;
}

div.scaling_table_row_select{
	height:17px;
	width:314px;
	margin:0px;
	font-weight:bold;
}

div.scaling_table_col1_odd{
	background-color:#ffdd90;	
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	float:left;
	padding:1px 1px 1px 3px;
	width:191px;
}

div.scaling_table_col1_even{
	background-color:white;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	float:left;
	padding:1px 1px 1px 3px;
	width:191px;
}

div.scaling_table_col2_odd{
	background-color:#ffdd90;	
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	float:left;
	padding:1px;
	text-align:center;
	width:43px;
}

div.scaling_table_col2_even{
	background-color:white;	
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	float:left;
	padding:1px;
	text-align:center;
	width:43px;
}

div.landmark_table_header, div.scaling_table_header{
	float:left;
}

div.landmark_table_row_header{
	background-color:orange;
	height:18px;
	width:311px;
	margin:0px 0 0 0;
}

div.landmark_table_row{
	height:17px;
	width:320px;
	margin:0px 0 0 0;
}

div.landmark_table_row_select{
	height:17px;
	width:320px;
	margin:0px 0 0 0;
	font-weight:bold;
}

div.landmark_table_row:hover, div.semilandmark_table_block:hover, div.landmark_table_row_select:hover, div.scaling_table_row:hover,
div.scaling_table_row_select:hover{
	cursor:default;
}

div.landmark_table_col1_odd{
	background-color:#ffdd90;	
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	float:left;
	padding:1px 1px 1px 3px;
	width:215px;
}

div.landmark_table_col1_even{
	background-color:white;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	float:left;
	padding:1px 1px 1px 3px;
	width:215px;
}

div.landmark_table_col1_header{
	color:white;
	float:left;
	margin:1px;
	padding:1px 1px 1px 3px;
	text-align:center;
	width:210px;
}

div.landmark_table_col2_odd{
	background-color:#ffdd90;	
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	float:left;
	padding:1px;
	text-align:center;
	width:40px;
}

div.landmark_table_col2_even{
	background-color:white;	
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	float:left;
	padding:1px;
	text-align:center;
	width:40px;
}

div.landmark_table_col2_header{
	color:white;
	float:left;
	margin:1px;
	padding:1px;
	text-align:center;
	width:40px;
}

div.meta_data{
	margin:10px 0px 0px 0px;
	font-size:0.8em;
}

div.meta_row{
}

div.meta_data_left, div.meta_data_right, div.meta_data_right_small{
	float:left;
	height:23px;
	overflow-x:hidden;
	overflow-y:hidden;
	margin:0px 0px 3px 0px;
}

div.meta_data_left{
	width:73px;
}

div.meta_data_right, div.meta_data_right_small{
	width:200px;
}

div.meta_data_right_small{
	font-size:1em;
}

div.status_updates{
	float:left;
	height:100px;
	margin:5px 0 0 0px;
	padding:0 0 0 0px;
	width:330px;
}

div.status_updates_line{
	height:15px;
}

#current_process{
	line-height:15px;
}

div.submit_links_button{
	float:left;
	width:90px;
	height:30px;
	text-align:center;
	background-color:orange;
	margin:5px 15px 0px 0px;
	cursor:default;
	border:1px solid black;
}

.submit_button, .submit_button_off, .submit_button_scaling, 
.submit_button_image_change_prev_aspect, .submit_button_image_change_next_aspect, 
.submit_button_image_change_prev_view, .submit_button_image_change_next_view{
	margin:4px 3px 1px 0px;
	line-height:14px;
	padding:0px 3px 3px 3px;
	background:orange;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

	border: 1px solid orange;

	color: black;
	text-decoration: none;
}

.submit_button_scaling{
	width:100px;
	height:30px;
}

.submit_button{
	width:100px;
	height:30px;
}

.submit_button_image_change_prev_aspect, .submit_button_image_change_next_aspect, 
.submit_button_image_change_prev_view, .submit_button_image_change_next_view{
	height:20px;
}

.submit_button_image_change_next_view, .submit_button_image_change_prev_view{
	width:51px;
}

.submit_button_image_change_next_aspect, .submit_button_image_change_prev_aspect{
	width:71px;
}

.submit_button_off{
	background:#eeeeee;
	border: 1px solid #eeeeee;
	color:#cccccc;
	width:100px;
	height:30px;
}

.submit_button:active {
   background: #ffdd90;
}

div.submit_image_label{
	float:left;
	position:relative;
	margin:0px 0px 0px 0px;
	width:15px;
	height:60px;
	vertical-align:bottom;
}

span.submit_image_label{
	position:absolute;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform:rotate(270deg);
    transform: rotate(270deg);
    white-space:nowrap;
    display:block;
}

div.submit_image_change{
	float:left;
	margin:5px 0px 0px 3px;
	height:53px;
	width:317px;
	text-align:center;
}

div.submit_image_change_view{
	float:right;
	text-align:right;
	margin-left:2px;
	height:50px;
	width:115px;
}

div.submit_image_change_aspect{
	float:left;
	border-right:1px orange dotted;
	width:157px;
	padding-right:3px;
	margin-right:3px;
}

div.submit_save_exit{
	float:left;
	text-align:center;
	margin:4px 0px 4px 5px;
	width:80px;
	width:317px;
}

select.submit_view_image_names{
	width:110px;
	margin-top:3px;
	margin-right:2px;
}

select.submit_aspect_image_names{
	width:150px;
	margin-top:3px;
	margin-right:2px;
}

div.submit_link{
	float:left;
	width:315px;
	text-align:right;
	margin:10px 0 0 0;
}

div.view_digitize_options{
	cursor:default;
	float:left;
	height:22px;
	width:70px;
	text-align:center;
	background-color:#ffdd90;	
	margin:5px 0px -4px 3px;
	padding:2px;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

div.view_digitize_options_links{
	cursor:default;
	color:black;
}

form.landmark_table{
	float:left;
	width:315px;
	text-align:right;
	margin:10px 0 0 0;
}

p{
	line-height:0px;
}

p.settings{
	line-height:5px;
}

div.landmark_control_panel_view_entries p{
	line-height:15px;
}
